/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
html {
    interpolate-size: allow-keywords;
}
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {  
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* 10. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}

html{
    font-size: 16px;
}

:root{
    --general-background: #F9FAFB;
    --header-background: #1F2937;
    --header-color: #FFFFFF;
    --sidebar-background: #374151;
    --main-backgorund: #F3F4F6;
    --button-background: #10B981;
    --button-background-hover: #059669;
    --cards-background: #FFFFFF;
    --cards-border: 1px solid #E5E7EB;
    --text-color: #111827;
    --delete-button-background: #EF4444;
    --delete-button-background-hover: #DC2626;
    --status-button-background: #3B82F6;
    --status-button-background-hover: #2563EB;
    --button-color: #FFFFFF;
}

/* My styles */

body{
    font-family: "Cookie", cursive;
    display: grid;
    grid-template-rows: 1fr 10fr;
    max-height: 100vh;
    color: var(--text-color);
    background-color: var(--general-background);
}

.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 250px;
    gap: 5px;
    overflow: scroll;
    background-color: var(--main-backgorund);
}

.card{
    padding: 20px;
    margin: 10px 0;
    background-color: var(--cards-background);
    border: var(--cards-border);
    border-radius: 10px;
    height: max-content;
}

.grid{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}

.header, .side{
    display: flex;
    justify-content: center;
    align-items: start;
}

.header{
    font-size: 2.5rem;
    background-color: var(--header-background);
    color: var(--header-color);
}

.side{
    background-color: var(--sidebar-background);
    >button{
        background-color: var(--button-background);
    }
    >button:hover{
        background-color: var(--button-background-hover);
        cursor: pointer;
    }
}

.side, .main{
    font-size: 1.5rem;
    padding: 10px 20px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    display: grid;
    gap: 10px;
}

.card>button:first-of-type{
    background-color: var(--delete-button-background);
    color: var(--button-color);
    margin-right: 10px;
}

.card>button:first-of-type:hover{
    background-color: var(--delete-button-background-hover);
}

.card>button:last-child{
    background-color: var(--status-button-background);
    color: var(--button-color);
}

.card>button:last-child:hover{
    background-color: var(--status-button-background-hover);
}
